@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(52.52% 32.71% at 50% 97.66%, rgba(36, 160, 181, 0.20) 0%, rgba(36, 160, 181, 0.00) 100%), #02191D;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

/* General CSS Styling to avoid repitition */
.step {
  color: #a0a0a0;
  font-size: 0.875rem;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background-color: #334155;
  border-radius: 9999px;
  margin-bottom: 1.5rem;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #14b8a6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.theme-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem auto  .8rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner p {
  margin-top: 16px;
  font-size: 18px;
  color: #14b8a6;
}

/* Theme changes */
body {
  transition: background 0.4s ease, color 0.4s ease;
}

/* DARK THEME (default) */
body.dark-theme {
  background-color: #02191D;
  color: white;
}

/* LIGHT THEME */
body.light-theme {
  background-color: #f9f9f9;
  color: #222;
}


@media screen and (max-width: 768px) {
  .theme-toggle {
    margin-top: 6rem;
  }
}

/* .light-theme .main-card,
.light-theme .ticket-selection,
.light-theme .ticket-option {
  background-color: #fff;
  color: #222;
  border-color: #ccc;
}

.light-theme .ticket-option:hover,
.light-theme .ticket-option.selected {
  background-color: #e0f7fa;
  border-color: #22d3ee;
}

.light-theme .ticket-grid {
  border-color: #ddd;
}

.light-theme .event-details {
  background: #f1f1f1;
  color: #222;
}

.light-theme .ticket-quantity select {
  background-color: #fff;
  color: #222;
  border-color: #ccc;
} */
